.offers-view {
    padding: 8px;
}

.offers-view .offers-view-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.paginator-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.paginator-container .material-icons {
    color: white;
}